[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pandas = "*"
regex = "*"
pymatgen = {path = "Code/pymatgen/pymatgen-2022.0.4.tar.gz"}
seaborn = "*"
tqdm = "*"
jupyter = "*"
ase = "*"

[dev-packages]

[requires]
python_version = "3.9"
